# Byte-compiled files
__pycache__/
*.pyc

# Virtual environment
venv/

# Environment variables
.env

# Compiled Python files
*.pyc
*.pyo/
__pycache__/

# IDE files
.vscode/
.idea/

# Logs and databases
*.log
*.sqlite
*.db

# Compiled translations
*.mo

# Static files
static/uploads/
static/assets/

# Configuration files
instance/

# Local development settings
config.py

# macOS
.DS_Store

# Windows
Thumbs.db


# PyCharm
#  JetBrains specific template is maintained in a separate JetBrains.gitignore that can
#  be found at https://github.com/github/gitignore/blob/main/Global/JetBrains.gitignore
#  and can be added to the global gitignore or merged into this file.  For a more nuclear
#  option (not recommended) you can uncomment the following to ignore the entire idea folder.
#.idea/
